@import "@fontsource/inter";
@import "@fontsource/jetbrains-mono";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--input);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-ring: var(--ring);
  --color-success: var(--success);
}

:root {
  --font-main: "Inter";
  --font-mono: "JetBrainsMono";

  --background: #e5e7eb;
  --foreground: #111827;
  --card: #ffffff;
  --card-foreground: #111827;
  --popover: rgba(255, 255, 255, 0.3);
  --popover-foreground: #111827;
  --primary: #334155;
  --primary-foreground: #ffffff;
  --destructive: #ef4444;
  --destructive-foreground: #fff;
  --input: #d1d5db;
  --muted: #f3f4f6;
  --muted-foreground: #6b7280;
  --ring: #475569;
  --success: #22c55e;
}

.dark {
  --background: #111827;
  --foreground: #f9fafb;
  --card: rgba(255, 255, 255, 0.05);
  --card-foreground: #f9fafb;
  --popover: rgba(255, 255, 255, 0.08);
  --popover-foreground: #f9fafb;
  --primary: #94a3b8;
  --primary-foreground: #f9fafb;
  --destructive: #f87171;
  --destructive-foreground: #ffffff;
  --input: #374151;
  --muted: #1f2937;
  --muted-foreground: #9ca3af;
  --ring: #94a3b8;
  --success: #16a34a;
}

body {
  font-family: var(--font-main), sans-serif;
  background-color: var(--background);
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 100px transparent inset;
  -webkit-text-fill-color: var(--foreground);
  transition: background-color 5000s ease-in-out 0s;
  border-radius: inherit;
}

.Toastify__toast--success {
  @apply bg-success!;
}

.Toastify__toast--error {
  @apply bg-destructive!;
}