@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-border: var(--popover-border);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-destructive: var(--destructive);
}

:root {
  --background: #e5e7eb;
  --foreground: #111827;

  --card: #ffffff;
  --card-foreground: #111827;

  --popover: rgba(255, 255, 255, 0.3);
  --popover-border: rgba(255, 255, 255, 0.2);
  --popover-foreground: #111827;

  --primary: #2e2e2e;
  --primary-foreground: #ffffff;

  --destructive: #ef4444;
  --destructive-foreground: #fff;
}

.dark {
  --background: #111827;
  --foreground: #f9fafb;

  --card: rgba(255, 255, 255, 0.05);
  --card-foreground: #f9fafb;

  --popover: rgba(255, 255, 255, 0.08);
  --popover-border: rgba(255, 255, 255, 0.15);
  --popover-foreground: #f9fafb;

  --primary: #4b5563;
  --primary-foreground: #f9fafb;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
}